*{
    margin: 0;
    padding: 0;

}
.navbar-brand{
    font-size:xx-large;
    font-family: cursive;
    background-color: rgb(179, 179, 0);
   border-radius: 30px;
   padding: 10px;
   
}

.navbar-nav{
    font-size: large;
    font-weight: 800;
}
.imagee .pic{

height: auto;
width: auto;
border-radius: 50%;
margin-right: 200px;
}

.sec-3{
    
    padding: 20px;
    margin-right: 0;
}
.sec-3 ul li{
    list-style: none;
    /* display: inline-block; */
   margin-bottom: 5px;
    height: 60px;
    width: 60px;
    background-color: gray;
    border-radius: 50%;
   

}

.sec-3 ul li i{
    list-style: none;
    margin:20px;
    font-size: 25px;
    line-height: 20px;
    text-align: center;
    color: white;

}
.sec-3 ul li:hover{
 background-color:rgb(131, 131, 0);
}

  
  
  
/*  */
.maindiv {
    justify-content: space-around;
    display: flex;
    display: block;
    width: 100%;
    float: left;
    padding: 10px;
    margin-bottom: 50px;
}

.box {
    /* display:inline-flexbox; */
    /* background-color: rgba(160, 0, 0, 0.829); */
    background-image: linear-gradient(purple, white);
    box-shadow: 4px 4px 4px 4px grey;
    float: left;
    display: block;
    width: 300px;
    border-radius: 10px;
    margin: 30px;
    border: 2px solid black;
    height: 300px;
    /* height:570px; */
}

.title h2 {
    margin-top: 20px;
    text-align: center;
    width: 100%;
    color: white;
    font-weight: normal;


}

.description-cards {
    padding: 20px;
    color: black;
    text-align: justify;
    /* font-weight: 500; */
    line-height: 20px;
    margin: 2px;
    font-weight: bold;

}
.box:hover{
    background-image: linear-gradient(white,purple);
}




